<%= render 'advices/messages' %>

<h1>Histórico de Quartos</h1>
<hr />
<div class="list-group ">
  <% @booking_histories.each do |history| %>  
  <div href="#" class="list-group-item list-group-item-action" aria-current="true">
    <div class="d-flex gap-3 w-100 justify-content-between">
      <h6 class="mb-0 opacity-75 py-1"><b>Quarto:</b> <br /><%= history.room.title %></h6>
      <p class="mb-0 opacity-75"><b>Usuário:</b><br /> <%= history.user.email %></p>
      <p class="mb-0 opacity-75"><b>Preço por minuto:</b><br /> R$<%= history.price %></p>
      <p class="mb-0 opacity-75"><b>Tempo gasto (minutos):</b><br /> <%= history.total_time_at_room %></p>
      <p class="mb-0 opacity-75"><b>Preço total:</b> <br />R$<%= history.total_price %></p>
      <p class="mb-0 opacity-75"><b>Data do Checkin:</b> <br /><%= history.formatted_checkin %></p>
      <p class="mb-0 opacity-75"><b>Data do Checkout:</b> <br /><%= history.formatted_checkout %></p>
      <div class="d-flex" style="vertical-align: middle;">
        <% if history.charged %>
          <a href="#" class="btn btn-secondary">Cobrado</a>
        <% else %>
           <%= form_for history, url: admin_booking_history_path(history), method: :put do |f| %>
            <%= f.submit :checkin, :value => "Cobrar", placeholder: 'Cobrar', class: 'btn btn-danger' %>  
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>